<section class="our-yachts">
  <div class="container">
    <h2 class="our-yachts-titel">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-item">
      <li class="our-yachts-item-list">
        <div class="yacht-card">
          <picture>
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-desktop.jpg    1x,
                /img/our-yachts/our-yachts-yaht-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-desk.jpg    1x,
                /img/our-yachts/our-yachts-yaht-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-tab.jpg    1x,
                /img/our-yachts/our-yachts-yaht-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-mob.jpg    1x,
                /img/our-yachts/our-yachts-yaht-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="/img/our-yachts/our-yachts-yaht-desk.jpg"
              alt="Luxury Yacht"
              width="345"
              height="268"
            />
          </picture>
        </div>

        <div class="our-yachts-item-list-subtitel line">
          <h2 class="our-yachts-item-list-subtitel-titel">Arrow</h2>
          <h2 class="our-yachts-item-list-subtitel-text">LUXURY YAHTS</h2>
        </div>
        <div class="our-yachts-item-list-text">
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>LENGTH</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>BUILDER</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>BUILT</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>GUESTS</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list"><p>48m(155ft)</p></li>
            <li class="our-yachts-item-list-item-list"><p>Admiral</p></li>
            <li class="our-yachts-item-list-item-list"><p>2021</p></li>
            <li class="our-yachts-item-list-item-list">
              <p>11 in 5 cabins</p>
            </li>
            <li class="our-yachts-item-list-item-list"><p>€33,500,000</p></li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item-list">
        <div class="yacht-card">
          <picture>
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-two-desktop.jpg    1x,
                /img/our-yachts/our-yachts-yaht-two-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-two-desk.jpg    1x,
                /img/our-yachts/our-yachts-yaht-two-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-two-tab.jpg    1x,
                /img/our-yachts/our-yachts-yaht-two-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="/img/our-yachts/our-yachts-yaht-two-desk.jpg"
              alt="Yacht"
              width="345"
              height="268"
            />
          </picture>
        </div>

        <div class="our-yachts-item-list-subtitel line">
          <h2 class="our-yachts-item-list-subtitel-titel">
            BENETTI OASIS 40M BO122
          </h2>
          <h2 class="our-yachts-item-list-subtitel-text">LUXURY YAHTS</h2>
        </div>
        <div class="our-yachts-item-list-text">
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>LENGTH</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>SHIPYARD</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>BUILT</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>GUESTS</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list"><p>41m (133ft)</p></li>
            <li class="our-yachts-item-list-item-list"><p>Benetti</p></li>
            <li class="our-yachts-item-list-item-list"><p>2025</p></li>
            <li class="our-yachts-item-list-item-list">
              <p>10 in 5 cabins</p>
            </li>
            <li class="our-yachts-item-list-item-list"><p>€23,210,000</p></li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item-list">
        <div class="yacht-card">
          <picture>
            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-three-desktop.jpg    1x,
                /img/our-yachts/our-yachts-yaht-three-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/our-yachts/our-yachts-yaht-three-desk.jpg     1x,
                /img/our-yachts/our-yachts-yaht-three-deskt@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <img
              src="/img/our-yachts/our-yachts-yaht-three-desk.jpg"
              alt="Yacht"
              width="345"
              height="268"
            />
          </picture>
        </div>
        <div class="our-yachts-item-list-subtitel line">
          <h2 class="our-yachts-item-list-subtitel-titel">BELLE ANNA</h2>
          <h2 class="our-yachts-item-list-subtitel-text">LUXURY YAHTS</h2>
        </div>
        <div class="our-yachts-item-list-text">
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>LENGTH</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>SHIPYARD</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>BUILT</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>GUESTS</p>
            </li>
            <li class="our-yachts-item-list-item-list our-yachts-grey">
              <p>PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-item-list-item">
            <li class="our-yachts-item-list-item-list"><p>50m(155ft)</p></li>
            <li class="our-yachts-item-list-item-list"><p>ISA</p></li>
            <li class="our-yachts-item-list-item-list"><p>2012</p></li>
            <li class="our-yachts-item-list-item-list">
              <p>12 in 6 cabins</p>
            </li>
            <li class="our-yachts-item-list-item-list"><p>€21,000,000</p></li>
          </ul>
        </div>
      </li>
    </ul>

    <a href="#rent-a-yacht" class="our-yachts-btn">Yacht rental</a>
  </div>
</section>
