.footer {
  margin-top: 80px;
}

.footer-container {
  border-radius: 24px 24px 0 0;
  width: 355px;
  height: 412px;
  background-color: #1b414b;
}

.logo-footer {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  position: relative;
  top: 40px;
  left: 30px;
}

.links-footer-list {
  display: flex;
  justify-content: center;
  position: relative;
  left: 30%;
  top: 6%;
  gap: 4px;
  max-width: 206px;
}

.btn-footer {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border-radius: 8px;
  width: 66px;
  height: 40px;
  background-color: rgba(251, 251, 251, 0.3);
  border: none;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.social-link-footer-list {
  display: flex;
  justify-content: center;
  margin-top: 82px;
  margin-bottom: 42px;
  gap: 8px;
}

.icon-footer {
  fill: #fbfbfb;
}

.icon-footer:hover,
.icon-footer:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-descr {
  font-family: 'Inter', sans-serif;
  max-width: 279px;
  max-height: 72px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  text-decoration: none;
}

.footer-text-div {
  display: flex;
  gap: 20px;
  margin-top: 82px;
  position: relative;
  left: 54px;
  max-width: 248px;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 150px;
  }

  .footer-container {
    width: 736px;
    height: 418px;
  }

  .logo-footer {
    font-size: 20px;
    color: #fbfbfb;
    position: relative;
    top: 50px;
    left: 48px;
  }

  .btn-footer {
    width: 91px;
  }

  .links-footer-list {
    max-width: 281px;
  }

  .footer-descr {
    margin-top: 96px;
    font-size: 32px;
    max-width: 640px;
  }

  .footer-text-div {
    margin-top: 100px;
    max-width: 298px;
    gap: 32px;
    left: 220px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.18;
  }

  .social-link-footer-list {
    margin: 0;
    position: relative;
    left: 600px;
    bottom: 15px;
    max-width: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1230px;
  }

  .social-link-footer-list {
    left: 1060px;
    bottom: 16px;
  }

  .links-footer-list {
    left: 475px;
  }

  .footer-text-div {
    gap: 32px;
    margin-top: 100px;
    left: 466px;
    max-width: 298px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    width: 1390px;
  }

  .social-link-footer-list {
    left: 1220px;
    bottom: 16px;
  }

  .links-footer-list {
    left: 558px;
  }

  .footer-text-div {
    gap: 32px;
    margin-top: 100px;
    left: 546px;
    max-width: 298px;
  }
}
